body {
  color: #2e330c;
  background-color: #91a77d;
}

label {
  color: #afbf82;
}

h2 {
  color: #a1c676;
}

p {
  color: #000000;
}

.card {
  background-color: #e2f0c6;
  border: 1px solid #dee2e6;
}

img {
  max-width: 100%;
  height: auto;
  width: 300px;
}
